# objective: ML model that can classify an input into loan accepted or loan rejected

In [151]:
# conda install scikit-learn
# pip install scikit-learn

In [152]:
# AI
# ---->ML
#     ------------->DL(Neural networks)

MACHINE LEARNING????

    mapping of tabular data onto a statistical formula OF SOME KIND (machine learning algorithm)

ML problems can be divided into 3 main categories

        i) SUPERVISED LEARNING PROBLEM: target column(one that model is supposed to learn for) IS ALREADY PRESENT
        IN THE HISTORICAL 
                a)classification
                b) Prediction
                
        ii) UNSUPERVISED LEARNING PROBLEM (clustering)
                target column is not part of the dataset provided
                
        iii) REINFORCEMENT PROBLEM

### steps for creating SUPERVISED MODELS in Python

step 1: Extraction & sourcing of data

step 2: Exploration & pre-processing of data

step 3 : selecting FEATURES & TARGET attributes

step 4: DIVIDE/SPLIT THE DATA FOR TRAINING & TESTING

step 5: TRAINING OF THE MODEL

step 6: TESTING OF THE MODEL

step 7: DEPLOYMENT OF THE MODEL*

In [153]:
import pandas as pd
import plotly.express as pe

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import confusion_matrix, classification_report

In [154]:
path = r"C:\Users\harsh\Desktop\OptimizingMLModelsOFSS\datasets\Loan_Status_Classification.csv"

loan_df = pd.read_csv(path)
loan_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,1,0,0,6608,0,137,180,1,1,1
1,0,1,2,0,0,4226,1040,110,360,1,1,1
2,1,1,0,1,0,3167,2283,154,360,1,2,1
3,0,0,0,1,1,6950,0,175,180,1,2,1
4,0,1,0,1,0,3993,3274,207,360,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
293,1,0,0,1,0,3846,0,111,360,1,2,1
294,0,0,0,1,0,2435,0,75,360,1,1,0
295,0,0,2,1,0,4923,0,166,360,0,2,1
296,0,1,3,0,0,2071,754,94,480,1,2,1
297,1,0,0,1,0,2378,0,46,360,1,3,0

In [155]:
loan_df.nunique()

Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      257
CoapplicantIncome    150
LoanAmount           145
Loan_Amount_Term       9
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [156]:
loan_df.shape

(298, 12)

In [157]:
loan_df.index

RangeIndex(start=0, stop=298, step=1)

In [158]:
loan_df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [159]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             298 non-null    int64
 1   Married            298 non-null    int64
 2   Dependents         298 non-null    int64
 3   Education          298 non-null    int64
 4   Self_Employed      298 non-null    int64
 5   ApplicantIncome    298 non-null    int64
 6   CoapplicantIncome  298 non-null    int64
 7   LoanAmount         298 non-null    int64
 8   Loan_Amount_Term   298 non-null    int64
 9   Credit_History     298 non-null    int64
 10  Property_Area      298 non-null    int64
 11  Loan_Status        298 non-null    int64
dtypes: int64(12)
memory usage: 28.1 KB

In [160]:
real_value_columns_loan_df = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']

categorical_columns_loan_df = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed','Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status']

### mark the categorical columns by setting their data type

In [161]:
loan_df[   categorical_columns_loan_df ] =  loan_df[   categorical_columns_loan_df  ].astype('str')

In [162]:
loan_df[real_value_columns_loan_df].describe()

       ApplicantIncome  CoapplicantIncome  LoanAmount
count       298.000000         298.000000  298.000000
mean       5351.265101        1673.026846  143.560403
std        6306.080712        2892.404818   80.395182
min         150.000000           0.000000    9.000000
25%        2883.750000           0.000000   99.250000
50%        3854.000000        1106.000000  125.500000
75%        5721.500000        2281.000000  171.500000
max       81000.000000       33837.000000  600.000000

In [163]:
loan_df[real_value_columns_loan_df]

     ApplicantIncome  CoapplicantIncome  LoanAmount
0               6608                  0         137
1               4226               1040         110
2               3167               2283         154
3               6950                  0         175
4               3993               3274         207
..               ...                ...         ...
293             3846                  0         111
294             2435                  0          75
295             4923                  0         166
296             2071                754          94
297             2378                  0          46

[298 rows x 3 columns]

In [164]:
loan_df[categorical_columns_loan_df].describe()

,Gender,Married,Dependents,Education,Self_Employed,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,298,298,298,298,298,298,298,298,298
unique,2,2,4,2,2,9,2,3,2
top,0,1,0,1,0,360,1,2,1
freq,245,187,176,235,258,248,231,115,150

In [165]:
sc = StandardScaler()
loan_df[real_value_columns_loan_df] = sc.fit_transform(loan_df[real_value_columns_loan_df])

### step 3: Features & target column

### features: columns for judgement
#### target :  result column to be predicted by the model

In [166]:
# remove Loan_Status from list of columns
categorical_columns_loan_df.remove(  "Loan_Status"  )

#put it into a separet list
target = ["Loan_Status"]

#remaining real & categorial columns can now be combined into a list called features
features = categorical_columns_loan_df

note: x means features and y means target

In [167]:
x_train,x_test, y_train,y_test=train_test_split(  
    loan_df[features],
    loan_df[target],
    test_size=0.2,
    random_state=10,
    stratify=loan_df[target] 
)

### we have parameters & hyperparameters

### parameters : THINGS WHICH THE MODEL CAN LEARN AUTOMATICALLY DURING THE TRAINING/FITTING

### Hyperparameters : THINGS THAT MODEL CANNOT LEARN AND MUST BE CONFIGURED MANUALLY

In [168]:
model = DecisionTreeClassifier()

### step 5: training

In [169]:
model.fit(      x_train, y_train         )

DecisionTreeClassifier()

## step 6: testing

In [170]:
predicted_values = model.predict(x_test)

print( classification_report(   y_test,   predicted_values  )  )

              precision    recall  f1-score   support

           0       0.75      0.60      0.67        30
           1       0.67      0.80      0.73        30

    accuracy                           0.70        60
   macro avg       0.71      0.70      0.70        60
weighted avg       0.71      0.70      0.70        60

In [171]:
loan_df.shape

(298, 12)

# balance of the data

In [172]:
loan_df[ ['Loan_Status'] ].value_counts()

Loan_Status
1              150
0              148
dtype: int64

In [173]:
# Actual Ans                 Predicted Ans                  MEANING
# YES                            YES                        TRUE POSITIVE
# YES                            NO                         FALSE NEGATIVE
# NO                             YES                        FALSE POSITIVE
# NO                             NO                         TRUE  NEGATIVE

TP        FP
12        18

FN        TN
10        20



POSITIVE precision : OUT OF ALL THE TESTING POINTS MENTIONED AS "POSITIVE" , HOW MANY ARE ACTUALLY POSITIVE?

                            TP/(TP+FP)


NEGATIVE precision : OUT OF ALL THE TESTING POINTS MENTIONED AS "NEGATIVE" , HOW MANY ARE ACTUALLY POSITIVE?

                            TN/(TN+FN)


POSITIVE RECALL : OUT OF ALL TESTING POINTS "THAT ARE ACTUALLY SUPPOSED TO BE POSITIVE", How many did the model identify?
                TP/(TP+FN)

NEGATIVE RECALL : OUT OF ALL TESTING POINTS "THAT ARE ACTUALLY SUPPOSED TO BE NEGATIVE", How many did the model identify?
                TN/(TN+FP)


F1-score is a combination(weighted average) of precision & recall

In [174]:
print(    confusion_matrix(y_test, predicted_values)   )

[[18 12]
 [ 6 24]]

# Reasons for poor scores/metrics


1) WRONG ALGORITHM BEING USED!
2) Pre-processing is not done correctly!
3) TUNING OF THE MODEL IS NOT DONE!
4) INVALID METHOD FOR EVALUATION!

In [175]:
# train-test-split
# k-fold
# stratified k-fold